apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml

helmCharts:
  - name: prometheus
    releaseName: prometheus
    namespace: monitoring
    repo: https://prometheus-community.github.io/helm-charts
    version: 27.49.0
    valuesFile: values-prometheus.yaml
