apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: oauth2-proxy
  namespace: argocd
spec:
  project: default

  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus
  sources:
    - repoURL: https://oauth2-proxy.github.io/manifests
      chart: oauth2-proxy
      targetRevision: "7.*"
      helm:
        releaseName: oauth2-proxy
        valueFiles:
          - $values/namespaces-apps/oauth2-proxy/values.yaml

    - repoURL: https://github.com/PierreH2/homelab.git
      targetRevision: main
      ref: values
      path: namespaces-apps/oauth2-proxy

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
