config:
  provider: google

  existingSecret: oauth2-proxy-secrets

  cookieExpire: "1h0m0s"
  cookieRefresh: "55m"

  scope: "openid email profile"

  redirectURL: "https://prometheus.piron-tech.com/oauth2/callback"

  configFile: |-
    email_domains = [ "*" ]
    upstreams = [ "file:///dev/null" ]

authenticatedEmailsFile:
  enabled: true
  persistence: configmap
  restricted_access: |-
    pierre.h001002@gmail.com

extraArgs:
  standard-logging: "true"
  auth-logging: "true"

service:
  portNumber: 80
  targetPort: 4180
