config:
  provider: google

  cookieExpire: "1h0m0s"
  cookieRefresh: "55m"

  scope: "openid email profile"

  redirectURL: "https://prometheus.piron-tech.com/oauth2/callback"

  existingSecret: oauth2-proxy-secret

authenticatedEmailsFile:
  enabled: true
  persistence: configmap

  # Un email par ligne
  restricted_access: |-
    pierre.h001002@gmail.com

extraArgs:
  standard-logging: "true"
  auth-logging: "true"
