config:
  provider: google

  existingSecret: oauth2-proxy-secret

  cookieExpire: "1h0m0s"
  cookieRefresh: "55m"

  scope: "openid email profile"

  redirectURL: "https://prometheus.piron-tech.com/oauth2/callback"

  configFile: |-
    email_domains = [ "*" ]
    upstreams = [ "http://prometheus-server.prometheus.svc.cluster.local:80" ]
    reverse_proxy = true
    proxy_prefix = "/oauth2"

authenticatedEmailsFile:
  enabled: true
  persistence: configmap
  restricted_access: |-
    pierre.h001002@gmail.com

service:
  portNumber: 80
  targetPort: 4180
