config:
  provider: google

  existingSecret: oauth2-proxy-secret

  cookieExpire: "1h0m0s"
  cookieRefresh: "55m"

  scope: "openid email profile"

  redirectURL: "https://prometheus.piron-tech.com/oauth2/callback"

  email-domain: [ "*" ]
  upstream: http://prometheus-server.prometheus.svc.cluster.local:80
  redirect-url: https://prometheus.piron-tech.com/oauth2/callback

authenticatedEmailsFile:
  enabled: true
  persistence: configmap
  restricted_access: |-
    pierre.h001002@gmail.com

extraArgs:
  standard-logging: "true"
  auth-logging: "true"

service:
  portNumber: 80
  targetPort: 4180