config:
  existingSecret: oauth2-proxy-secrets

extraArgs:
  provider: google
  http-address: 0.0.0.0:4180

  upstream: http://prometheus-server.prometheus.svc.cluster.local:80
  redirect-url: https://prometheus.piron-tech.com/oauth2/callback

  # Sécurité cookies
  cookie-secure: "true"
  cookie-samesite: lax
  whitelist-domain: ".piron-tech.com"

  email-domain: "*"   # requis par Google provider
  authenticated-emails-file: /etc/oauth2/emails.txt

service:
  portNumber: 80
  targetPort: 4180

extraVolumes:
  - name: allowed-emails
    configMap:
      name: oauth2-proxy-allowed-emails

extraVolumeMounts:
  - name: allowed-emails
    mountPath: /etc/oauth2
    readOnly: true
