# Authentik Helm Chart Values
# Domain configuration
domain: authentik.piron-tech.com

# Disable bootstrap token
disableBootstrapUser: true

# PostgreSQL configuration
postgresql:
  enabled: true
  auth:
    existingSecret: "authentik-postgresql"
    secretKeys:
      adminPasswordKey: "password"
      userPasswordKey: "password"

# Redis configuration
redis:
  enabled: true
  auth:
    existingSecret: "authentik-redis"
    existingSecretPasswordKey: "password"

# Server configuration
server:
  replicas: 2

# Worker configuration  
worker:
  replicas: 1

# Service configuration
service:
  type: ClusterIP
  port: 80

# Image pull policy
pullPolicy: IfNotPresent
