image:
  repository: ghcr.io/linuxserver/plex
  tag: latest
  pullPolicy: IfNotPresent

env:
  TZ: Europe/Paris
  PLEX_CLAIM: claim-2oKQgUagQkXJvXHX71Xm  

controller:
  enabled: true
  ports:
    main:
      enabled: true
      port: 32400
      protocol: TCP

service:
  main:
    enabled: true
    type: ClusterIP
    ports:
      main:
        port: 32400

persistence:
  config:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    size: 10Gi
    storageClass: local-path
    existingClaim: ""

  media:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    size: 50Gi
    storageClass: local-path
    existingClaim: ""

resources:
  limits:
    cpu: 2
    memory: 4Gi

#nodeSelector:
#  plex: "true"
