image:
  repository: ghcr.io/linuxserver/plex
  tag: latest
  pullPolicy: IfNotPresent

env:
  TZ: Europe/Paris
  PLEX_CLAIM: claim-XXXXXXXX   # ⚠️ token valide 4 min

service:
  type: ClusterIP
  port: 32400

persistence:
  config:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    size: 10Gi
    storageClass: local-path
    existingClaim: ""

  media:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    size: 50Gi
    storageClass: local-path
    existingClaim: ""

resources:
  limits:
    cpu: 2
    memory: 4Gi

#nodeSelector:
#  plex: "true"
