# Configuration du nom d'hôte pour Keycloak 26+
hostname: keycloak.piron-tech.com

# Configuration du Proxy (Indispensable pour Envoy / SSL Termination)
proxy: edge

# Identifiants initiaux
auth:
  adminUser: admin
  adminPassword: "premiermdpachangerplustard" 
# Dans namespaces-apps/keycloak/values.yaml

global:
  imageRegistry: quay.io

image:
  repository: keycloak/keycloak
  tag: 26.5

## @section Database parameters
##

postgresql:
  ## @param postgresql.enabled Déployer PostgreSQL en tant que base de données pour Keycloak
  ##
  enabled: true

  ## @param postgresql.auth.postgresPassword Mot de passe pour l'utilisateur 'postgres'
  ##
  auth:
    postgresPassword: "vmdpachangerplustard"
    # database: keycloak
    # username: bn_keycloak
    # password: ""

  ## Configuration de la persistance pour PostgreSQL
  ##
  primary:
    persistence:
      ## @param postgresql.primary.persistence.enabled Activer la persistance
      ##
      enabled: true
      ## @param postgresql.primary.persistence.existingClaim Nom du PVC existant à utiliser
      ## Note : Cela ignorera les paramètres size et storageClass
      ##
      existingClaim: "keycloak-nas-pvc"
      ## Important : si votre PVC a des permissions spécifiques, vous devrez peut-être 
      ## ajuster le securityContext ici ou dans les paramètres globaux.

resources:
  limits:
    cpu: 1000m
    memory: 1Gi

# Désactivation de l'Ingress natif (car on utilise HTTPRoute)
ingress:
  enabled: false