# Configuration du nom d'hôte pour Keycloak 26+
hostname: keycloak.piron-tech.com

# Configuration du Proxy (Indispensable pour Envoy / SSL Termination)
proxy: edge

# Identifiants initiaux
auth:
  adminUser: admin
  adminPassword: "premiermdpachangerplustard" 
# Dans namespaces-apps/keycloak/values.yaml

global:
  imageRegistry: quay.io

image:
  repository: bitnami/keycloak
  # targetRevision 22.x installe Keycloak 26.x
  tag: 26.0.5-debian-12-r0 

postgresql:
  image:
    registry: quay.io
    repository: bitnami/postgresql
    tag: 16.6.0-debian-12-r7
  persistence:
    existingClaim: "keycloak-nas-pvc"
# Configuration de la base de données intégrée (PostgreSQL)

resources:
  limits:
    cpu: 1000m
    memory: 1Gi

# Désactivation de l'Ingress natif (car on utilise HTTPRoute)
ingress:
  enabled: false