apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway-gateway
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default

  source:
    repoURL: https://github.com/PierreH2/homelab/namespaces-apps/envoy-gateway-system/config.git
    targetRevision: main
    path: namespaces-apps/envoy-gateway-system

  destination:
    server: https://kubernetes.default.svc
    namespace: envoy-gateway-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
