service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000

route:
  main:
    enabled: true
    apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    parentRefs:
      - name: eg
        namespace: envoy-gateway-system
    hostnames:
      - grafana.piron-tech.com
    matches:
      - path:
          type: PathPrefix
          value: /
    additionalRules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - name: grafana
            port: 80
