service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000

# --- Persistance ---
persistence:
  enabled: true
  type: pvc
  existingClaim: grafana-pvc

# Cluster non-root → on désactive toute tentative de chown
initChownData:
  enabled: false

grafana.ini:
  server:
    root_url: "%(protocol)s://grafana.piron-tech.com/"
    serve_from_sub_path: false
  auth:
    disable_login_form: false
    oauth_auto_login: false
  auth.generic_oauth:
    enabled: true
    name: Keycloak
    allow_sign_up: true
    client_id: grafana
    client_secret: GrafanaOidc_2026!
    scopes: openid profile email
    auth_url: https://keycloak.piron-tech.com/realms/homelab/protocol/openid-connect/auth
    token_url: https://keycloak.piron-tech.com/realms/homelab/protocol/openid-connect/token
    api_url: https://keycloak.piron-tech.com/realms/homelab/protocol/openid-connect/userinfo

# --- Gateway API ---
ingress:
  enabled: true
  route:
    main:
      enabled: true
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      parentRefs:
        - name: eg
          namespace: envoy-gateway-system
          sectionName: https   
      hostnames:
        - grafana.piron-tech.com
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: grafana
              port: 80
              kind: Service
              group: ""
