service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000
# --- Ressources ---
resources:
  limits:
    cpu: 300m
    memory: 1Gi

# --- Persistance ---
persistence:
  enabled: true
  type: pvc
  existingClaim: grafana-pvc

# Cluster non-root → on désactive toute tentative de chown
initChownData:
  enabled: false

extraEnvVars:
  - name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: grafana-authentik-secret
        key: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET

# Configuration Grafana
grafana:
  # 1. Injection du secret depuis le Secret K8s "grafana-authentik-secret"
  envValueFrom:
    GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
      secretKeyRef:
        name: grafana-authentik-secret
        key: client-secret

  # 2. Mise à jour du grafana.ini
  grafana.ini:
    server:
      root_url: "https://grafana.piron-tech.com/"
      serve_from_sub_path: false
    auth.generic_oauth:
      enabled: true
      name: "Authentik"
      allow_sign_up: true
      client_id: "BcF4HHxCwGVUyWvI6u9NpZyiGSBjhMPFhmeFKT5G"
      # client_secret est géré par envValueFrom ci-dessus
      scopes: "openid profile email"
      auth_url: "https://authentik.piron-tech.com/application/o/authorize/"
      token_url: "https://authentik.piron-tech.com/application/o/token/"
      api_url: "https://authentik.piron-tech.com/application/o/userinfo/"
      role_attribute_path: "contains(groups, 'Grafana Admins') && 'Admin' || 'Viewer'"
      
# --- Gateway API ---
ingress:
  enabled: true
  route:
    main:
      enabled: true
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      parentRefs:
        - name: eg
          namespace: envoy-gateway-system
          sectionName: https   
      hostnames:
        - grafana.piron-tech.com
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: grafana
              port: 80
              kind: Service
              group: ""
