server:
  retention: "4d"
  retentionSize: "10GB"

  service:
    enabled: true
    servicePort: 80
    servicePortName: http   

  global:
    scrape_interval: 15s

  resources:
    limits:
      cpu: 500m
      memory: 1Gi

  persistentVolume:
    enabled: false

  storagePath: /prometheus-data

  extraHostPathMounts:
    - name: prometheus-storage
      mountPath: /prometheus-data
      hostPath: /data/nas/private/prometheus
      readOnly: false

  extraInitContainers: []
