extraManifests:
  - apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    metadata:
      name: prometheus
    spec:
      parentRefs:
        - name: eg
          namespace: envoy-gateway-system
      hostnames:
        - prometheus.piron-tech.com
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: prometheus-server
              port: 80
