apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
spec:
  replicas: 1
  selector:
    matchLabels:
      app: plex
  template:
    metadata:
      labels:
        app: plex
    spec:
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}

      containers:
        - name: plex
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 32400
              name: http

          env:
            - name: TZ
              value: "{{ .Values.env.TZ }}"
{{- with .Values.env.PLEX_CLAIM }}
            - name: PLEX_CLAIM
              value: "{{ . }}"
{{- end }}

          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /media

          resources:
{{ toYaml .Values.resources | indent 12 }}

      volumes:
        - name: config
          hostPath:
            path: {{ .Values.paths.config }}
            type: DirectoryOrCreate

        - name: media
          hostPath:
            path: {{ .Values.paths.media }}
            type: Directory
